<?xml version="1.0" ?>
<model>
    <name>segment_straight</name>
    <version>1.0</version>
    <sdf version="1.4">model.sdf</sdf>
    <author>
        <name>Daniel Chen</name>
        <email>daniel@ccns.ncku.edu.tw</email>
    </author>
    <description>Straight segment for race on competetion track</description>
</model>
